---
import Layout from '@/layouts/Layout.astro';
import Carousel from '@/components/Carousel.vue';
import Instagram from '@/components/icons/Instagram.astro';
import {instagram} from '@/services/env.js';
---
<Layout 
    title="Sergio Russo Photography"
    canonical="https://sergiorussophotography.com.ar"
    metaTitle="Sergio Russo Photography - Fotógrafo profesional"
    metaDescription="Con más de 15 años de experiencia, Sergio Russo es un fotógrafo de renombre en Mendoza, Argentina, especializado en glamour y retratos. Descubra su estilo único y su pasión por la fotografía en su sitio web."
    metaImg="https://sergiorussophotography.com.ar/images/author-2.jpg"
    >
    <section class="ftco-section-no-padding bg-light">
        <div class="hero-wrap">
            <div class="overlay"></div>
            <div class="d-flex align-items-center fullHeight">
                <Carousel client:load />
                <div class="author-info text p-3 p-md-5" style="overflow: hidden">
                    <div class="desc">
                        <span class="subheading" transition:animate="fade">Photography</span>
                        <span class="big-letter" transition:animate="fade">Sergio Russo</span>
                        <h1 class="mb-4" transition:animate="fade"><span>Sergio Russo</span><br/> Fotógrafo profesional</h1>
                        <p transition:animate="fade">“No hacemos fotos con nuestras cámaras. Las hacemos con nuestro corazón y las hacemos con nuestras mentes, y la cámara no es más que una herramienta”. <strong>Arnold Newman</strong></p>
                        
                        <ul class="ftco-social mt-3" transition:animate="slide">
                          <li><a target="_blank" href={instagram}><Instagram /></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>


<style>
.fullHeight{
    height: 100vh;
    object-fit: cover;
}
</style>
