---
import Phone from '@/components/icons/Phone.astro';
import Envelope from '@/components/icons/Envelope.astro';
---
<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container px-md-5">
        <div class="row mb-5">
        <div class="col-md" style="margin-bottom: 20px;">
            <div class="ftco-footer-widget mb-4 ml-md-4">
                <h2 class="ftco-heading-2">Fotos recientes</h2>
                <ul class="list-unstyled photo" >
                    <li class="p-2 mb-2">
                        <a href="./galeria">
                            <img loading="lazy" src="src/images/galeria/thumb/01.jpg" alt="miniatura 01 foto de Sergio Russo" />
                        </a>
                    </li>
                    <li class="p-2 mb-2">
                        <a href="./galeria">
                            <img loading="lazy" src="src/images/galeria/thumb/02.jpg" alt="miniatura 02 foto de Sergio Russo" />
                        </a>
                    </li>
                    <li class="p-2 mb-2">
                        <a href="./galeria">
                            <img loading="lazy" src="src/images/galeria/thumb/03.jpg" alt="miniatura 03 foto de Sergio Russo" />
                        </a>
                    </li>
                    <li class="p-2 mb-2">
                        <a href="./galeria">
                            <img loading="lazy" src="src/images/galeria/thumb/15.jpg" alt="miniatura 15 foto de Sergio Russo" />
                        </a>
                    </li>
                    <li class="p-2 mb-2">
                        <a href="./galeria">
                            <img loading="lazy" src="src/images/galeria/thumb/05.jpg" alt="miniatura 05 foto de Sergio Russo" />
                        </a>
                    </li>
                    <li class="p-2 mb-2">
                        <a href="./galeria">
                            <img loading="lazy" src="src/images/galeria/thumb/20.jpg" alt="miniatura 20 foto de Sergio Russo" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Enlaces útiles</h2>
            <ul class="list-unstyled categories">
                <li><a href="./" class="text-white">Inicio</a></li>
                <li><a href="./galeria" class="text-white">Galeria</a></li>
                <li><a href="./about" class="text-white">Sergio Russo</a></li>
                <li><a href="./contacto" class="text-white">Contacto</a></li>
            </ul>
            </div>
        </div>
        <div class="col-md">
            <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2">¿Alguna consulta?</h2>
                <div class="block-23 mb-3">
                <ul>
                    <li><a target="_blank" href="https://wa.me/+5492613405270"><Phone width="20" height="20" /><span class="text"> 261 340-5270</span></a></li>
                    <li><a target="_blank" href="mailto:info@sergiorussophotography.com.ar"><Envelope width="20" height="20" /></span><span class="text">info@sergiorussophotography.com.ar</span></a></li>
                </ul>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-white">Diseñado por <a target="_blank" href="https://manejoweb.com.ar/" class="text-white"><strong>ManejoWeb</strong></a></p>
            </div>
        </div>
    </div>
</footer>