---
import Menu from '@/components/Menu.vue';
import WhatsAppButton from '@/components/WhatsAppButton.astro';
---
    <a id="burgerButton" class="js-nav-toggle nav-toggle"><i></i></a>
    <aside id="aside" role="complementary" class="js-fullheight text-center" >
        <div id="logo">
            <a href="./">
                <img class="img" src="/images/logo.png" alt="logo" />
            </a>
        </div>
        <nav id="main-menu" role="navigation">
            <Menu client:load />
        </nav>

        <div class="footer">
            
            <WhatsAppButton />
        </div>
    </aside>
<script>
document.addEventListener('DOMContentLoaded', function() {
    let active = false;
    const navToggle = document.querySelector('.js-nav-toggle');
    const body = document.querySelector('body');
    const menu = document.querySelector('#aside');
    const burgerButton = document.querySelector('#burgerButton');
    
    const openMenu = () => {
        navToggle.classList.add('active');
        body.classList.add('offcanvas');
        active = true;
    }

    const closeMenu = () => {
        navToggle.classList.remove('active');
        body.classList.remove('offcanvas');
        active = false;
    }
    const handleClickOutside = (event) => {
        if(active && !menu.contains(event.target) && !burgerButton.contains(event.target)) {
            closeMenu();
        }
    }
    const handleScroll = () => {
        if(active){
            closeMenu();
        }
    }
    const handleMenuToggle = () => {
        if(active){
            closeMenu();
        }else{
            openMenu();
        }
    }
    if(window.innerWidth < 992){
        document.addEventListener('click', handleClickOutside);
        window.addEventListener('scroll', handleScroll);
    }
    
    burgerButton.addEventListener('click', handleMenuToggle);

});
</script>

